body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Para que el padding no afecte el ancho */
}

button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #27ae60;
}

/* Estilos para la tarjeta de éxito */
.card-exito h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.card-exito p {
    color: #7f8c8d;
    font-size: 16px;
    line-height: 1.5;
}

.icono-check {
    background-color: #2ecc71;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 60px;
    margin: 0 auto 20px auto;
}

.btn-volver {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #34495e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-volver:hover {
    background-color: #2c3e50;
}
